@charset "utf-8";

.container {
    display: grid;
    /*「Container」を「Grid Layout」に指定*/

    grid-template-columns: 470px 800px;
    /*200pxの列トラックを3列表示させる*/
}

.item1 {
    line-height: 30px;
}

.item2 {
    grid-row: 1 / 3;
    /*アイテムの配置位置を「行方向：ライン番号１から３の間」に指定*/
    grid-column: 2 / 3;
    /*アイテムの配置位置を「列方向：ライン番号２から４の間」に指定*/
}

.item4 {
    grid-row: 3 / 4;
    /*アイテムの配置位置を「行方向：ライン番号１から３の間」に指定*/
    grid-column: 1 / 3;
    /*アイテムの配置位置を「列方向：ライン番号２から４の間」に指定*/
}

en {
    color: red;
}

/* バナー本体 */
.news-banner {
    display: block;
    height: 50px;
    width: 100%;
    background-color: orange;
    overflow: hidden;
}

/* バナー内コンテンツ */
.news-banner__content {
    display: inline-block;
    color: #fff;
    line-height: 10px;
    padding-left: 100%;
    white-space: nowrap;
    animation: animate-banner 20s linear infinite;
}

/* バナー内の要素をすべて選択 */
.news-banner__content>* {
    display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.max_temp {
    display: inline-block !important
}

.min_temp {
    display: inline-block !important
}

.temp {
    display: block !important
}

.rain_s {
    display: block !important
}

.pop-rain {
    undefined
}

.speed-wind {
    undefined
}

.deg-wind {
    undefined
}

.w_snow {
    undefined
}

.w_bg {
    background: linear-gradient(to right, #ffffff, #fff)
}